<% content_for :page_title do %>
  <%= Spree.t("google_base.export_settings") %>
<% end %>

<%= form_tag(admin_google_base_settings_path, :method => :put) do |f| %>
  <% [:title, :public_domain, :description, :ftp_username, 
      :ftp_password, :enable_taxon_mapping].each do |setting| %>
    <p><%= setting_field(setting) %></p>
  <% end %>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'save' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_google_base_settings_url, icon: 'delete' %>
  </div>
<% end %>