<% content_for :page_title do %>
  <%= Spree.t(:taxonomy_mapping, :scope => :google_base) %>
<% end %>

<div id="google_base_map">

  <a href="http://www.google.com/support/merchants/bin/answer.py?hl=en&answer=160081" target="_blank">Google Taxonomy Listings</a>

  <%= form_for :taxon_maper do |f| %>
    <table class="table">
      <tr>
        <th>Taxon</th>
        <th>Priority</th>
        <th>Category</th>
      </tr>
      <% @taxons.each do |taxon| -%>
        <tr>
          <td><%= taxon.name %></td>
          <td><%= text_field(:priority, taxon.id, :value => taxon.taxon_map.priority.to_s, :class => 'priority') %></td>
          <td><%= text_field(:tax_id, taxon.id, :value => taxon.taxon_map.product_type, :class => 'category') %></td>
        </tr>
      <% end -%>
    </table>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'update' %>
    </div>
  <% end %>
</div>
